
@media only screen and (max-width:1499px) { 

.font-18 {font-size: 16px;}

.font-28 {font-size: 26px;}
.profile_img_section h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}



}



@media only screen and (max-width:1399px) {

    .font-20 {font-size: 18px;}

    .font-32 {font-size: 28px;}

    .font-28 {font-size: 23px;}

    .font-22 {font-size: 22px;}

    .login-section{
        /* min-height: auto; */
        padding: 70px 0px;
    }

    /* .login-page-main {min-height: auto;} */

    .otp-section {
        min-width: 550px;
        max-width: 550px;
    }

    .font-24 {font-size: 22px;}


    /* home page  */    

    .header_profile_section button {
        font-weight: 500;
        font-size: 14px;
    }
    
    .header_profile_name h6 {
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
    }
    
    .header_profile_name p {
        font-size: 12px;
    }
    
    .sub_header {
        font-size: 14px;
        font-weight: 600;
    }
    
    .re_btn {
        font-size: 14px;
        font-weight: 500;
    }
    

    .event_list_section .nav-pills .nav-link {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }
    
    .today_btn button {
        font-weight: 500;
        font-size: 12px;
    }
    
    .event_card_bottom_left h3 {
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
    }
    
    .profile_img_section h2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
    }
    
    .profile_img_section p.Followers_part {
        font-weight: 500;
        font-size: 16px;
        margin-top: 6px;
    }
    
    .profile_img_section p, .profile_img_section span {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
    }
    
    .sub_header {
        font-size: 15px;
        font-weight: 600;
    }
    
    .profilr_part_section {
        margin-top: 20px;
    }
    
    .profilr_part_section p {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    }
    
    .social_icon {
        margin: 10px 0;
    }
    
    button.gray_btn {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }

    /* event page  */

    .navgat_otherpage {
        padding: clamp( 15px , 3vw , 20px ) 0;
    }
    
    .navgat_otherpage .task_titlt {
        font-size: clamp( 16px , 3vw , 24px);
        padding: 7px 0;
    }
    
    .form-section {
        margin-bottom: 20px;
    }
    .button_gorup button{
        padding: 8px 24px;
    }
    .create_event_img{
        font-size: 16px;
       line-height: 28px;
    }
    .form-section input,.form-section select {
        /* height: 35px;
        line-height: 35px; */
        font-size: 14px;
    }

    .edit-mbl .num-drp {height: 32px;top: 1px;}
    

}

@media only screen and (max-width:1199px) {

    .login-section {padding: 50px 0px;}  
    
    .form-input-section {margin-top:25px;}

    .email-section {margin-bottom: 25px;}

    .login-btn {margin-top: 25px;}

    .social-media-section {margin:25px 0px;}

    .or-section { margin-top: 25px;}

    .otp-section {
        min-width: 500px;
        max-width: 500px;
    }

    .ver-otp {gap: 14px;}
    .header_profile_section button {
        padding: 0px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0;
    }

    .tab-list {padding: 25px;}

    .tab-navbar .nav-tab-btn {padding: 0px 15px;}
}

@media only screen and (max-width:1366px) {
    ul.nav_list{
        margin-right: auto;
        margin-left: 20px;
        gap: 5px;
        font-size: 14px;
        font-weight: 500;
    }

    .custom_container{
        padding: 0 30px;
    }

    .event_list_section {
        width: calc( 100% - 360px);
    }
    .banner_part_text {
        width: calc( 100% - 390px); 
    }
    .profile_card {
        width: 360px;
        padding: 20px;
    }

    .header_profile_section button img {
        /* padding-left: 8px; */
    }

    /* event page  */

    .form-section label {
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        padding-bottom: 6px;
    }
    
    .event_formsection .form-section span {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        display: block;
        padding-bottom: 10px;
    }
}
@media only screen and (max-width:1025px){
    .plan_preview{
        padding: 25px;
        display: flex;
       gap: 10px;
    }
    .plan_preview_left{
        flex: unset;
        width: 100%;
        
    }
    .plan_preview_right{
        flex: unset;
        width: 100%;
    }
    .plan_preview_limit{
        padding: 0 25px;
    }
    .plan_preview_price{
        padding-right: 25px;
    }
    .plan_preview_limit:first-child{
        padding-left: 0;
        border: unset;
    }

}
@media only screen and (max-width:1025px){ 
    .event_list_section_tab {
        position: unset;
    }

}


@media only screen and (max-width:991px){

    .tab-content {
        padding-left: 0px;
        padding-bottom: 30px;
    }

    .tab-navbar {
        position: unset;
    }

    .res-flex-wrap .tab-content {
        padding-left: 0px;
    }

    .tab-heading.arrow-align {
        position: unset;
    }

    /* .mbl-block {
        display:block;
        position: absolute;
        width: 100%;
        left: 0;
        padding-left: 50px;
        height: 50px;
        line-height: 50px;
    } */

    .edit-input-filed .check-box-section {
        margin-top: 0px;
    }


    .check-box-section {
        margin: 20px 0 20px 0;
    }


    /* #v-pills-terms{display: none;}

    #v-pills-settings{display: none;}

    #v-pills-disabled{display: none;}

    .tab-navbar .nav-tab-btn span {display: none;}

    #v-pills-profile {display: none;}

    #v-pills-home {display: none;} */

    .font-22 {font-size: 20px;}

    .sub-content {width: 80%;}

    .fan-event-detalis {padding: 20px;}


 }



@media only screen and (max-width:992px){
    .header_section{
        height: 55px;
    }
    .header_profile_section button {
        height: 35px;
        width: 35px;
        gap: unset;
    }
    .header_profile_section{
        gap: 15px;
    }
    .header_profile_section button img{
        padding-left: 0px;
    }
    .header_profile_name,.header_profile_icon {
        display: none;
    }
    .header_profile_img {
        width: 40px;
        height: 40px;

    }
    .header_logo {
        width: 45px;
        height: 35px;
    }
    .profile_card {
        display: none;
    }
    
    .banner_part_text {
        width: 100%;
    }
    
    .event_list_section {
        width: 100%;
        padding: 0;
    }
    .event_list_section_tab{
        top: 55px;
    }
    .navgat_otherpage{
        top: 54px;
    }
    .event_formsection {
        margin-top: 30px;
    }
    .drop-zone__prompt {
        font-size: 16px;
        gap: 7px;
    }
    
    .drop-zone button {
        width: 128px;
        height: 28px;
        font-size: 14px;
    }
    /* login css */

    .login-page-main {background: linear-gradient(113.86deg, #1B3558 0.89%, #0F192C 100%);}

    .login-section {width: 100%;}

    .login-section::before {display: none;}

    .mbl-logo-sec {
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }
    
    /* END */
    
    .fg-psd-link  {
        bottom: 15px;
        margin-bottom: 0px;
    }
    .tab-heading {
        top: 55px;
    }

    .otp-section .ver-otp-inpt .login-btn {padding: 0px 30px;}

    .profile_card.popup_home.pro-none.pro-none{display: block;}

    .fan-d-flex {
        flex-direction: column;
    }

    .fan-profile-text .profile_card {
        display: block;
        width: 425px;
        margin: auto;
    }
    .fan-profile-text {
        width: 100%;
        float: left;
        display: flex;
        flex-direction: column;
    }

    .fan-profile-list {width: 100%; padding: 0px;}

    .fan-profile-main {width: 100%;}

    .fan-profile-list .tab-heading.arrow-align {
        position: unset;
        align-items: flex-start;
    }

    .profile_card.popup_home.pro-none.pro-none button.gray_btn {
        background: #081A34;
        border: 1px solid #A6C2E9;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.05);
        border-radius: 50px;
    }

    .event_bg {position: unset;}
}

@media only screen and (max-width:767px) {

    .profile-main {padding: 20px 15px;}

    .font-22 {font-size: 18px;} 

    .plan-details {width: 50%;}

    .sub-content {width: 100%;} 

    .imgsection {min-height: unset;}

 }



@media only screen and (max-width:768px){
    ul.nav_list {
        position: fixed;
        width: 185px;
        grid-auto-flow: row;
        top: 55px;
        right: 0;
        background: white;
        transform: translateX(200px);
        gap: 0;
        height: calc( 100vh - 55px);
        display: block;
        background: #1B3558;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.5);
        overflow-y: auto;
    }
    ul.nav_list li {
        padding: 10px 10px;
       border-bottom: 1px solid;
        width: 100%;
        height: fit-content;
    }
    ul.nav_list.show{
        transform: translateX(0px);
    }
    .header_section {
        height: 55px;
    }
    .custom_container{
        padding: 0px 15px;

    }
    .nav-icon{
        display: block;
    }
    .event_list_section_tab{
        position: unset;
    }
    

    .button_gorup button {
        font-size: 14px;
        line-height: 18px;
        padding: 0 16px;
        min-width: max-content;
        margin-right: 3px;
        height: 35px;
        line-height: 35px;
    }
    .tips_setion button {
        font-size: 14px;
        line-height: 19px;
        padding: 8px 15px;
        min-width: 83px;
        font-weight: 500;
    }
    .navgat_otherpage .task_titlt span img {
        width: 100%;
    }
    
    /* .navgat_otherpage .task_titlt span {
        width: 20px;
    } */
    .navgat_otherpage .task_titlt{
        gap: 10px;
    }
    .event_booking_list::after,.event_booking_list::before {
        height: 40px;
        width: 100px;
        min-width: 70px;
    
    }
    .edit_img_button {
        background: #ffff;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
    .content_section img {
        width: 75%;
        height: 75%;
        object-fit: scale-down;
    }


    /* login css */

    .font-20 {font-size: 16px;}

    .font-32 {
        font-size: 25px;
        line-height: 35px;
    }

    .font-16 {
        font-size: 14px;
    }

    .wel-sub-txt {
        line-height: 20px;
    }

    .font-18 {
        font-size: 16px;
    }

    .font-24 {font-size: 18px;}

    .tab-navbar {width: 100%;}

     /* END */

    
}

@media only screen and (max-width:599px) {
    .ver-otp input {
        width: 40px;
        height: 40px;
    }    

    .ver-otp {
        gap: 10px;
    }
    .plan_preview_section h4 {
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
        color: #081A34;
        margin-bottom: 4px;
    }
    .plan_preview_section p {
        font-weight: 500;
        font-size: 13px;
        line-height: 21px;
        text-align: justify;
        color: #081A34;
        margin: 0;
    }
    .plan_preview_price h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #081A34;
        margin: 0;
    }
    .plan_preview_limit p {
        font-weight: 600;
        font-size: 15px;
        line-height: 17px;
        color: #081A34;
        margin-bottom: 7px;
        opacity: 0.8;
    }
    .plan_preview_limit h6 {
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        color: #081A34;
        white-space: nowrap;
        margin: 0;
    }
    .plan_preview_change h2 {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
        color: #081A34;
        white-space: nowrap;
        display: flex;
        align-items: center;
    }
    .plan_preview {
        padding: 10px;
    }
    
    .plan_preview_price {
        padding-right: 0;
        padding-left: 10px;
    }
    
    .plan_preview_right {
        flex-direction: column;
        align-items: self-start;
    }
    
    .plan_preview_limit {
        padding: 0;
        border: unset;
        margin-bottom: 10px;
    }
    .plan_preview_price h1::first-letter{
        font-size: 20px;
    }
    .font-32 {font-size: 23px;}


    .range-slider {
        width: 10px;
        /* height: 300px; */
    }
    
    .range-slider input[type=range][orient=vertical] {
        width: 10px;
    }
    
    .range-slider__bar {
        width: 10px;
    }
    
    .range-slider__thumb {
        width: 10px;
    }
    .range-slider input[type=range][orient=vertical]::-webkit-slider-runnable-track{
        width: 10px;
    }
    .emog_section {

        max-width: 35px;
    }
    .social_icon span{
        margin-right: 10px;
    }
    .event_card_bottom_right button {
        font-size: 14px;
        line-height: 18px;
        padding: 8px 25px;
    }

    .arrow-align {flex-direction: column;gap: 15px; }

    .profile-inform .first-column{grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));}

    .plan-details {width: 100%; margin-bottom: 20px;}

    .event_booking_list p span {margin-top: 10px; display: flex; flex-direction: column; padding-left: 0px;}

    .event_booking_list p span a {margin: 5px 0px !important;}
}

@media only screen and (max-width:529px) {

    .login-form-section{
        max-width: 100%;
        min-width: 100%;
        padding: 0px 50px;
    }

    .event_list_section .nav{
        display: grid;
        gap: 10px;
        background: unset;
    }
    .event_tabe_section {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 10px;
    }
    .event_card{
        padding: 15px;
    }
    .event_card_bottom_left h3 {
        font-size: 15px;
        line-height: 18px;
    }

    .edit-input-filed .edit-btn.edit-btn-none{flex-wrap: wrap; justify-content: center; gap: 15px;}

    .edit-btn .save-btn{margin-left: 0px;}
    .billingInformation{
        padding: 10px;
    }

    .fan-profile-text .profile_card {width: 100%;}

}

@media only screen and (max-width:440px){
    .first-column {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    .con-left-sec {padding: 20px;}

    .more-options-sec {padding: 20px;}
 }



@media only screen and (max-width:425px){
   
    .login-form-section{ padding: 0px 20px; }

    .check-box-section .font-16 {font-size: 13px;}

}


@media only screen and (min-width:800px) and (max-width:1180px) {

    .event_history_fans {gap: unset;}

    .event_history_fans .live_fans {margin-left: 15px; margin-bottom: 20px;}

    .tips_setion {margin-left: 15px; margin-bottom: 20px;}

    
    
    
}