@font-face {
    font-family: 'Mont';
    src: url('../assets/fonts/Mont-Bold.eot');
    src: url('../assets/fonts/Mont-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Mont-Bold.woff2') format('woff2'),
        url('../assets/fonts/Mont-Bold.woff') format('woff'),
        url('../assets/fonts/Mont-Bold.ttf') format('truetype'),
        url('../assets/fonts/Mont-Bold.svg#Mont-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mont Book';
    src: url('../assets/fonts/Mont-Book.eot');
    src: url('../assets/fonts/Mont-Book.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Mont-Book.woff2') format('woff2'),
        url('../assets/fonts/Mont-Book.woff') format('woff'),
        url('../assets/fonts/Mont-Book.ttf') format('truetype'),
        url('../assets/fonts/Mont-Book.svg#Mont-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/fonts/Mont-BoldItalic.eot');
    src: url('../assets/fonts/Mont-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Mont-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/Mont-BoldItalic.woff') format('woff'),
        url('../assets/fonts/Mont-BoldItalic.ttf') format('truetype'),
        url('../assets/fonts/Mont-BoldItalic.svg#Mont-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/fonts/Mont-Black.eot');
    src: url('../assets/fonts/Mont-Black.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Mont-Black.woff2') format('woff2'),
        url('../assets/fonts/Mont-Black.woff') format('woff'),
        url('../assets/fonts/Mont-Black.ttf') format('truetype'),
        url('../assets/fonts/Mont-Black.svg#Mont-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/fonts/Mont-BlackItalic.eot');
    src: url('../assets/fonts/Mont-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Mont-BlackItalic.woff2') format('woff2'),
        url('../assets/fonts/Mont-BlackItalic.woff') format('woff'),
        url('../assets/fonts/Mont-BlackItalic.ttf') format('truetype'),
        url('../assets/fonts/Mont-BlackItalic.svg#Mont-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/fonts/Mont-ExtraLightItalic.eot');
    src: url('../assets/fonts/Mont-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Mont-ExtraLightItalic.woff2') format('woff2'),
        url('../assets/fonts/Mont-ExtraLightItalic.woff') format('woff'),
        url('../assets/fonts/Mont-ExtraLightItalic.ttf') format('truetype'),
        url('../assets/fonts/Mont-ExtraLightItalic.svg#Mont-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/fonts/Mont-ExtraLight.eot');
    src: url('../assets/fonts/Mont-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Mont-ExtraLight.woff2') format('woff2'),
        url('../assets/fonts/Mont-ExtraLight.woff') format('woff'),
        url('../assets/fonts/Mont-ExtraLight.ttf') format('truetype'),
        url('../assets/fonts/Mont-ExtraLight.svg#Mont-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mont Book';
    src: url('../assets/fonts/Mont-BookItalic.eot');
    src: url('../assets/fonts/Mont-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Mont-BookItalic.woff2') format('woff2'),
        url('../assets/fonts/Mont-BookItalic.woff') format('woff'),
        url('../assets/fonts/Mont-BookItalic.ttf') format('truetype'),
        url('../assets/fonts/Mont-BookItalic.svg#Mont-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/fonts/Mont-HeavyItalic.eot');
    src: url('../assets/fonts/Mont-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Mont-HeavyItalic.woff2') format('woff2'),
        url('../assets/fonts/Mont-HeavyItalic.woff') format('woff'),
        url('../assets/fonts/Mont-HeavyItalic.ttf') format('truetype'),
        url('../assets/fonts/Mont-HeavyItalic.svg#Mont-HeavyItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/fonts/Mont-Light.eot');
    src: url('../assets/fonts/Mont-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Mont-Light.woff2') format('woff2'),
        url('../assets/fonts/Mont-Light.woff') format('woff'),
        url('../assets/fonts/Mont-Light.ttf') format('truetype'),
        url('../assets/fonts/Mont-Light.svg#Mont-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/fonts/Mont-Heavy.eot');
    src: url('../assets/fonts/Mont-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Mont-Heavy.woff2') format('woff2'),
        url('../assets/fonts/Mont-Heavy.woff') format('woff'),
        url('../assets/fonts/Mont-Heavy.ttf') format('truetype'),
        url('../assets/fonts/Mont-Heavy.svg#Mont-Heavy') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/fonts/Mont-Regular.eot');
    src: url('../assets/fonts/Mont-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Mont-Regular.woff2') format('woff2'),
        url('../assets/fonts/Mont-Regular.woff') format('woff'),
        url('../assets/fonts/Mont-Regular.ttf') format('truetype'),
        url('../assets/fonts/Mont-Regular.svg#Mont-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/fonts/Mont-LightItalic.eot');
    src: url('../assets/fonts/Mont-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Mont-LightItalic.woff2') format('woff2'),
        url('../assets/fonts/Mont-LightItalic.woff') format('woff'),
        url('../assets/fonts/Mont-LightItalic.ttf') format('truetype'),
        url('../assets/fonts/Mont-LightItalic.svg#Mont-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/fonts/Mont-SemiBoldItalic.eot');
    src: url('../assets/fonts/Mont-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Mont-SemiBoldItalic.woff2') format('woff2'),
        url('../assets/fonts/Mont-SemiBoldItalic.woff') format('woff'),
        url('../assets/fonts/Mont-SemiBoldItalic.ttf') format('truetype'),
        url('../assets/fonts/Mont-SemiBoldItalic.svg#Mont-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/fonts/Mont-SemiBold.eot');
    src: url('../assets/fonts/Mont-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Mont-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/Mont-SemiBold.woff') format('woff'),
        url('../assets/fonts/Mont-SemiBold.ttf') format('truetype'),
        url('../assets/fonts/Mont-SemiBold.svg#Mont-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/fonts/Mont-RegularItalic.eot');
    src: url('../assets/fonts/Mont-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Mont-RegularItalic.woff2') format('woff2'),
        url('../assets/fonts/Mont-RegularItalic.woff') format('woff'),
        url('../assets/fonts/Mont-RegularItalic.ttf') format('truetype'),
        url('../assets/fonts/Mont-RegularItalic.svg#Mont-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/fonts/Mont-Thin.eot');
    src: url('../assets/fonts/Mont-Thin.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Mont-Thin.woff2') format('woff2'),
        url('../assets/fonts/Mont-Thin.woff') format('woff'),
        url('../assets/fonts/Mont-Thin.ttf') format('truetype'),
        url('../assets/fonts/Mont-Thin.svg#Mont-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mont';
    src: url('../assets/fonts/Mont-ThinItalic.eot');
    src: url('../assets/fonts/Mont-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Mont-ThinItalic.woff2') format('woff2'),
        url('../assets/fonts/Mont-ThinItalic.woff') format('woff'),
        url('../assets/fonts/Mont-ThinItalic.ttf') format('truetype'),
        url('../assets/fonts/Mont-ThinItalic.svg#Mont-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

body {font-family: 'Mont' !important; margin: 0;}

a{ text-decoration: none !important;}

input:focus{outline: none !important;}

/* img, svg {vertical-align: unset !important;} */